[Interface]
Address = {{ wg_private_ip }}/24
PrivateKey = {{ wg_privatekey['content'] | b64decode | replace('\n', '')}}
ListenPort = {{ wg_listen_port }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o ens4 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o ens4 -j MASQUERADE

{% for item in wg_peers_publickey.results %}
{% if item.item.value.remove == False %}
[Peer]
PublicKey = {{ item['content'] | b64decode | replace('\n', '') }}
AllowedIps = {{ item.item.value.private_ip }}/32

{% endif %}
{% endfor %}
